@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap");
@font-face {
  font-family: 'Marcellus';
  src: url('marcellus.woff2') format('woff2'); /* Replace with the actual path to your font file */
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* This is the important line for ensuring text remains visible */
}

body {
  font-family: 'Marcellus', sans-serif; /* Fallback font family in case Marcellus fails to load */
}

/* Additional CSS for your website */

.slider {
  margin-bottom: 30px;
  position: relative;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  background: #ff9966;
  background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966);
  background: linear-gradient(to bottom, #ff5e62, #ff9966);
  color: #fff;
}
.slider-card {
  background: #fff;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}
.slider-card img {
  border-radius: 5px 5px 0px 0px;
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 60px);
  left: -60px;
  opacity: 1;
  font-size: 35px !important;
  z-index: 1;
  border: none;
  background-color: #fff;
  color: #b7202e;
  transition: transform 0.2s;
}
.owl-nav .owl-prev:hover {
  transform: scale(1.3);
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 60px);
  right: -60px;
  opacity: 1;
  font-size: 35px !important;
  border: none;
  background-color: #fff;
  color: #b7202e;
  z-index: 1;
  transition: transform 0.2s;
}
.owl-nav .owl-next:hover {
  transform: scale(1.3);
}
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  /* 
  height: 8px;
  width: 8px;  
*/
  height: 12px;
  width: 10px;
  border-radius: 50%;
  background: white !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.493);
}
.owl-dots .owl-dot.active {
  background: #b7202e !important;
}
.pt-5 {
  margin-top: -90px;
}
.common-btn,
.about-btn {
  text-decoration: none;
}
.floating-chat {
  left: 7px;
}
.intro-container {
  bottom: 100px;
  top: 0;
}
