@import 'https://fonts.googleapis.com/css?family=Noto+Sans';

* {
	box-sizing: border-box;
}

.floating-chat {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	position: fixed;
	bottom: 30px;
	left: 30px;
	width: 60px;
	height: 60px;
	transform: translateY(70px);
	transition: all 250ms ease-out;
	border-radius: 50%;
	opacity: 1;
	background: #b7202e;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.floating-chat.enter:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	opacity: 1;
}

.floating-chat.enter {
	transform: translateY(0);
	opacity: 1;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.14);
}

.floating-chat.expand {
	width: 250px;
	max-height: 400px;
	height: 400px;
	border-radius: 5px;
	cursor: auto;
	opacity: 1;
}

.floating-chat :focus {
	outline: 0;
	box-shadow: 0 0 3pt 2pt rgba(14, 200, 121, 0.3);
}

.floating-chat button {
	background: transparent;
	border: 0;
	color: white;
	text-transform: uppercase;
	border-radius: 3px;
	cursor: pointer;
}

.floating-chat .chat {
	display: flex;
	flex-direction: column;
	position: absolute;
	opacity: 0;
	width: 1px;
	height: 1px;
	border-radius: 50%;
	transition: all 250ms ease-out;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.floating-chat .chat.enter {
	opacity: 1;
	border-radius: 0;
	margin: 0;
	width: auto;
	height: auto;
}

.floating-chat .chat .header {
	flex-shrink: 0;
	padding-bottom: 10px;
	display: flex;
	background: #b7202e;
	padding: 10px;
}

.floating-chat .chat .header .title {
	flex-grow: 1;
	flex-shrink: 1;
	padding: 0 5px;
	color: white !important;
}

.floating-chat .chat .header button {
	flex-shrink: 0;
}

.floating-chat .chat .messages {
	padding: 10px;
	margin: 0;
	list-style: none;
	overflow-y: clip;
	overflow-x: hidden;
	flex-grow: 1;
	border-radius: 4px;
	background: transparent;
}

.floating-chat .chat .messages::-webkit-scrollbar {
	width: 5px;
}

.floating-chat .chat .messages::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: rgba(25, 147, 147, 0.1);
}

.floating-chat .chat .messages::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgba(25, 147, 147, 0.2);
}

.floating-chat .chat .messages li {
	position: relative;
	clear: both;
	display: inline-block;
	padding: 14px;
	margin: 0 0 20px 0;
	font: 12px/16px "Noto Sans", sans-serif;
	border-radius: 10px;
	background-color: rgba(25, 147, 147, 0.2);
	word-wrap: break-word;
	max-width: 81%;
}

.floating-chat .chat .messages li:before {
	position: absolute;
	top: 0;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	content: "";
	background-size: cover;
}

.floating-chat .chat .messages li:after {
	position: absolute;
	top: 10px;
	content: "";
	width: 0;
	height: 0;
	border-top: 10px solid rgba(25, 147, 147, 0.2);
}

.floating-chat .chat .messages li.other {
	animation: show-chat-odd 0.15s 1 ease-in;
	-moz-animation: show-chat-odd 0.15s 1 ease-in;
	-webkit-animation: show-chat-odd 0.15s 1 ease-in;
	float: right;
	margin-right: 45px;
	color: #0ad5c1;
}

.floating-chat .chat .messages li.other:before {
	right: -45px;
	background-image: url(https://github.com/Thatkookooguy.png);
}

.floating-chat .chat .messages li.other:after {
	border-right: 10px solid transparent;
	right: -10px;
}

.floating-chat .chat .messages li.self {
	animation: show-chat-even 0.15s 1 ease-in;
	-moz-animation: show-chat-even 0.15s 1 ease-in;
	-webkit-animation: show-chat-even 0.15s 1 ease-in;
	float: left;
	margin-left: 45px;
	color: #0ec879;
}

.floating-chat .chat .messages li.self:before {
	left: -45px;
	background-image: url(https://github.com/ortichon.png);
}

.floating-chat .chat .messages li.self:after {
	border-left: 10px solid transparent;
	left: -10px;
}

.floating-chat .chat .footer {
	flex-shrink: 0;
	display: flex;
	padding-top: 10px;
	max-height: 90px;
	background: transparent;
}

.floating-chat .chat .footer .text-box {
	border-radius: 3px;
	background: rgba(25, 147, 147, 0.2);
	min-height: 100%;
	width: 100%;
	margin-right: 5px;
	color: #0ec879;
	overflow-y: auto;
	padding: 2px 5px;
}

.floating-chat .chat .footer .text-box::-webkit-scrollbar {
	width: 5px;
}

.floating-chat .chat .footer .text-box::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: rgba(25, 147, 147, 0.1);
}

.floating-chat .chat .footer .text-box::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgba(25, 147, 147, 0.2);
}

@keyframes show-chat-even {
	0% {
		margin-left: -480px;
	}

	100% {
		margin-left: 0;
	}
}

@-moz-keyframes show-chat-even {
	0% {
		margin-left: -480px;
	}

	100% {
		margin-left: 0;
	}
}

@-webkit-keyframes show-chat-even {
	0% {
		margin-left: -480px;
	}

	100% {
		margin-left: 0;
	}
}

@keyframes show-chat-odd {
	0% {
		margin-right: -480px;
	}

	100% {
		margin-right: 0;
	}
}

@-moz-keyframes show-chat-odd {
	0% {
		margin-right: -480px;
	}

	100% {
		margin-right: 0;
	}
}

@-webkit-keyframes show-chat-odd {
	0% {
		margin-right: -480px;
	}

	100% {
		margin-right: 0;
	}
}


.error {
	clear: both;
	display: none;
}

.success {
	clear: both;
	display: none;
	color: #96c346;
	padding-top: 20px;
}

.error img {
	vertical-align: top;
}

.full {
	width: 98%;
}

#contact_form textarea {
	height: 195px;
}

#contact_form.s2 textarea {
	height: 180px;
}


.form-underline input[type=text],
.form-underline textarea,
.form-underline input[type=email],
.form-underline select {
	padding: 10px 0 10px 0;
	margin-bottom: 20px;
	border: none;
	border-bottom: solid 2px #bbbbbb;
	background: none;
	border-radius: 0;
	height: auto;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.form-underline select {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	-moz-appearance: none;
	appearance: none;
	background: url('../images/ui/arrow-down-form.png') no-repeat 98% 60%;
}

.form-underline select:focus {
	background: url('../images/ui/arrow-down-form-hover.png') no-repeat 98% 60%;
}

.form-underline input[type=text],
.form-underline textarea,
.form-underline input[type=email],
.form-underline select {
	color: #333;
	border-bottom: solid 1px #bbb;
}

.form-default input[type=text],
.form-default textarea,
.form-default input[type=email],
.form-default select {
	padding: 10px;
	margin-bottom: 20px;
	background: rgba(255, 255, 255, .5);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: auto;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	font-weight: 400;
	font-size: 15px;
}

#contact_form.form-default textarea {
	padding: 10px;
	height: 80px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#form_subscribe input[type=text] {
	padding: 8px 12px 9px 12px;
	width: 80%;
	float: left;
	display: table-cell;
	border-radius: 60px 0 0 60px;
	-moz-border-radius: 60px 0 0 60px;
	-webkit-border-radius: 60px 0 0 60px;
	border: none;
	background: rgba(255, 255, 255, .7);
	-webkit-box-shadow: 2px 2px 20px 0px rgba(20, 20, 20, 0.05);
	-moz-box-shadow: 2px 2px 20px 0px rgba(20, 20, 20, 0.05);
	box-shadow: 2px 2px 20px 0px rgba(20, 20, 20, 0.05);
}

.form-dark input[type=text],
.form-dark textarea,
.form-dark input[type=email],
.form-dark select {
	border-color: rgba(255, 255, 255, .1);
	background: rgba(0, 0, 0, .2);
	color: #ffffff;
}

#form_subscribe input[type=text]:focus {
	background: #ffffff;
}

#form_subscribe #btn-submit i {
	text-align: center;
	font-size: 30px;
	float: left;
	width: 20%;
	background: #171A21;
	color: #ffffff;
	display: table-cell;
	padding: 5px 0 6px 0;
	border-radius: 0 60px 60px 0;
	-moz-border-radius: 0 60px 60px 0;
	-webkit-border-radius: 0 60px 60px 0;
}

.form-default input[type=text]:focus,
.form-default textarea:focus,
.form-default input[type=email]:focus,
.form-default select:focus {
	background: #f6f6f6;
}

.form-dark input[type=text]:focus,
.form-dark textarea:focus,
.form-dark input[type=email]:focus,
.form-dark select:focus {
	background: rgba(0, 0, 0, .5);
	color: #fff;
}

.error_input {
	border-bottom: solid 6px #ff0000 !important;
}


.form-control::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1;
	/* Firefox */
}

.form-control:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: white;
}

.form-control::-ms-input-placeholder {
	/* Microsoft Edge */
	color: white;
}